<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
        <head th:fragment="common-header">

            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
            <title>Selam Show</title>

            <!-- Bootstrap -->

            <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
                  rel="stylesheet" media="screen" />
            <!-- custom styles for this template -->
            <link type="text/css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen"/>

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>

            <![endif]-->

        </head>

        <div th:fragment="before-body-script">
                <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
                <!-- Include all compiled plugins (below), or include individual files as needed -->
                <script th:src="@{webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
                <script th:src="@{/js/Expand.js}"></script>
        </div>
</html>